/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing:1px;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- //Reset Code --*/

/*-- navbar --*/
.nav-links .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
.nav-links .navbar {
	margin-bottom:0px;
}
.nav-links .navbar-inverse {
    background-color:#fff;
	border:none;
}
.nav-links .navbar-inverse .navbar-brand h1 {
    color: #0A0A0A;
	text-transform: uppercase;
	font-size: 30px;
    font-weight: 600;
}
.nav-links .navbar-brand {
	height:inherit;
	padding:24px 0 0;
}
.nav-links .navbar-nav>li>a {
    padding: 30px 25px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.nav-links  .navbar-inverse .navbar-nav>li>a:hover {
    background-color:#fff;
	color:#df4914;
}
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
}
.nav-links .navbar-inverse .navbar-nav>.active>a,.nav-links  .navbar-inverse .navbar-nav>.active>a:focus,.nav-links  .navbar-inverse .navbar-nav>.active>a:hover {
    color: #df4914;
    background-color: #FFFFFF;
}
.navbar-header {
    width: 30%;
    float: left;
}
div#myNavbar {
    width: 70%;
    float: right;
}
.navbar-nav {
    float: right;
}
/*-- Link Effect: bottom border enlarge --*/
.link-effect a {
	padding: 0 0 10px;
}
.link-effect a::after {
	position: absolute;
	top: 94%;
	left: 0;
	width: 100%;
	height: 1px;
	background:#df4914;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link-effect li.active a::after,
.link-effect a:hover::after{
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/*-- /Link Effect: bottom border enlarge --*/
/*-- /navbar --*/



/*-- about--*/
.about-agileits,.services-w3,.clients,.team,.contact-wthree,.gallery,.skills-w3ls{
	padding:50px 0;
}
.about-agileits h3,.services-w3 h3,.clients h3,.team h3,.contact-wthree h3,.gallery h3,.skills-w3ls h3{
	font-size:28px;
	text-transform:uppercase;
	color:#000;
	font-weight:700;
}
label.line{
	background:#df4914;
	height:3px;
	width:5%;
	display:block;
	margin:20px auto;
}
p.top-p{
	color:#999;
	line-height:28px;
	width:70%;
	margin:0 auto 40px auto;
	text-align:center;
}
.about-left{
	background:url(../images/about.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:400px;
}
.about-right{
	padding:55.5px;
	background:#df4914;
}
.about-right h4{
	color:#fff;
	font-size:24px;
	text-align:left;
	font-weight:700;
	margin-bottom:15px;
}
.about-right p{
	color:#eee;
	font-size:14px;
	line-height:28px;
}
p.sec-p{
	margin-top:20px;
}
.about-right a{
	color:#fff;
	border:2px solid #fff;
	padding:8px 20px;
	display:inline-block;
	margin-top:20px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.about-right a:hover{
	color:#000;
	border:2px solid #000;
}
.about-right:before {
    position: absolute;
    top: 0;
    left: -120px;
    content: '';
    border-top: 0px solid transparent;
    border-bottom: 401px solid transparent;
    border-right: 120px solid #df4914;
    z-index: 1;
}
h4.modal-title {
    font-size: 30px;
    font-weight: 700;
}
.modal-body p{
	color:#999;
	font-size:14px;
	line-height:28px;
}
/*--/about --*/




/*--gallery--*/
.gallery-grids{
	padding:0;
}
.gallery-box {
    display: block;
    overflow: hidden;
    width: 100%;
	transition: .3s;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
.gallery-box img{
    max-width: inherit;
}
/*--image-zoom--*/
img.zoom-img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
}
img.zoom-img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 750ms;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    overflow: hidden;
}
/*--//image-zoom--*/
/*--//gallery--*/

/*--team--*/
.agile_team_grids{
	margin:3em 0 0;
}
.agile_team_grid1{
	padding: 1em;
    border: 4px double #D0D0D0;
    text-align: center;
	margin-top:10px;
}
.agile_team_grid1 h4{
	font-size:1.5em;
	text-transform:uppercase;
	color:#212121;
	margin-bottom:.5em;
}
.agile_team_grid1 p{
    color: #df4914;
	font-size:14px;
}
.agile_team_grid_main{
	position:relative;
	overflow:hidden;
}
.agile_team_grid_main .p-mask{
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.72);
    bottom: 0%;
    position: absolute;
    padding:11em 0;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: center;
	height:100%;
}
.agile_team_grid:hover .p-mask{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
ul.social-icons li {
	display:inline-block;
}
ul.social-icons li  a{
	font-size:16px;
	color:#fff;
	border:1px solid #fff;
	display:inline-block;
	margin:0 5px;
}

/*--team--*/


/*-- contact--*/
.w3layouts-agileits input[type="text"],.w3layouts-agileits input[type="email"]{
	padding:10px;
	border:1px solid #000;
	width:49%;
	outline:none;
}
input[type="text"] {
    margin-right: 10px;
}
.w3layouts-agileits textarea{
	width:100%;
	padding:10px;
	border:1px solid #000;
	resize:none;
	height:150px;
	margin:20px 0;
	outline:none;
}
.w3layouts-agileits input[type="submit"]{
	padding:8px 20px;
	color:#fff;
	background:#df4914;
	outline:none;
	border:none;
}
.w3layouts-agileits input[type="submit"]:hover{
	background:#000;
}

/*-- //contact--*/
.footer{
	padding:30px 0;
	background:#df4914;
}
.footer  p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.footer p a{
	color:#fff;
}
.footer p a:hover{
	text-decoration:underline;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/up-arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
@media(max-width:1440px){
	.about-left {
		min-height: 415px;
	}
	.about-right {
		padding: 49px;
	}
	.about-right:before {
		border-bottom: 416px solid transparent;
	}
}
@media(max-width:1280px){
	.about-right {
		padding: 35px 42px;
	}
}

@media(max-width:1080px){
	.banner-agile {
		min-height: 520px;
	}
	.banner-text-agileinfo {
		margin: 10% 0 0 52%;
		width: 40%;
	}
	.about-left {
		min-height: 443px;
	}
	.about-right:before {
		border-bottom: 443px solid transparent;
	}
	.w3layouts-agileits input[type="text"], .w3layouts-agileits input[type="email"] {
		width: 48.8%;
	}
}
@media(max-width:1024px){
	.banner-text-agileinfo {
		margin: 11% 0 0 49%;
		width: 44%;
	}
	.about-right p {
		font-size: 13px;
	}
}
@media(max-width:991px){
	.nav-links .navbar-inverse .navbar-brand h1 {
		font-size: 27px;
	}
	.nav-links .navbar-nav>li>a {
		padding: 30px 16px;
		font-size:14px;
	}
	.banner-agile {
		min-height: 500px;
	}
	.about-left,.about-right{
		width:50%;
		float:left;
	}
	p.top-p {
		width: 75%;
	}
	.services-grids-w3l {
		width: 33.3%;
		float: left;
	}
	.services-grids-w3l p {
		width: 100%;
	}
	div#demo-pie-2 {
		margin-left:2em;
	}
	div#demo-pie-3 {
		margin: 0 2em;
	}
	.gallery-grids {
		width: 25%;
		float: left;
	}
	.agile_team_grid {
		width: 33.3%;
		float: left;
	}
	.w3layouts-agileits input[type="text"], .w3layouts-agileits input[type="email"] {
		width: 48.4%;
	}
	label.line {
		width: 7%;
	}
	.agile_team_grid_main .p-mask {
		padding: 9em 0;
	}
}
@media(max-width:966px){
	.banner-text-agileinfo {
		margin: 11% 0 0 45%;
	}
	.about-left, .about-right {
		width: 100%;
		float: left;
	}
	.about-left {
		background: url(../images/about.jpg) no-repeat 0px -112px;
		background-size: cover;
		min-height: 370px;
	}
}
@media(max-width:900px){
	.banner-agile {
		min-height: 437px;
	}
}

@media(max-width:768px){
	.banner-text-agileinfo {
		margin: 6% 0 0 45%;
		width:48%;
	}
}
@media(max-width:736px){
	.navbar-header {
		width: 100%;
		float: left;
	}
	.nav-links .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 15px;
	}
	.nav-links .navbar-brand {
		padding: 20px 0;
	}
	.navbar-toggle{
		background:#df4914;
		border-radius:0;
		border:none;
		margin:20px 0 0 0;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border:none;
	}
	div#myNavbar {
    width: 100%;
    float: none;
    margin: 0;
    background: #f5f5f5;
    padding: 1em 0;
}
	.navbar-nav {
		float: none;
		margin: 0;
	}
	.nav-links .navbar-nav>li>a {
		text-align: center;
		padding: 25px 16px;
	}
	.banner-text-agileinfo {
		margin: 4% 0 0 39%;
		width: 53%;
	}
	canvas {
		height: 120px;
		width: 120px;
	}
	.contact-left{
		width:65%;
		float:left;
	}
	.contact-right{
		width:35%;
		float:left;
	}
	.w3layouts-agileits input[type="text"], .w3layouts-agileits input[type="email"] {
		width: 48.2%;
	}
}

@media(max-width:414px){
	.banner-text-agileinfo {
		margin: 0% 0 0 24%;
		width: 69%;
	}
	.banner-text-agileinfo h2 {
		font-size: 28px;
	}
	.about-left {
		background: url(../images/about.jpg) no-repeat 0px -62px;
		background-size: cover;
	}
	canvas {
		height: 100px;
		width: 100px;
	}
	div#demo-pie-2 {
		margin:0;
	}
	div#demo-pie-3,div#demo-pie-1 {
		margin-right:5em;
		margin-left:0;
	}
	div#demo-pie-2,div#demo-pie-1 {
		margin-bottom:30px;
	}
	.w3layouts-agileits input[type="text"], .w3layouts-agileits input[type="email"] {
		width: 100%;
	}
	.w3layouts-agileits input[type="text"]{
	   margin-bottom:20px;
	}
	.nav-links .navbar-nav>li>a {
		padding: 19px 16px;
	}
}
@media(max-width:384px){
	.banner-text-agileinfo {
		margin: 0% 0 0 14%;
		width: 78%;
	}
	.about-left {
		background: url(../images/about.jpg) no-repeat 0px -47px;
		background-size: cover;
	}
	.about-right h4 {
		font-size: 22px;
	}
	.agile_team_grid {
		width: 65%;
	}
}
@media(max-width:375px){
	.about-left {
		background: url(../images/about.jpg) no-repeat 0px -40px;
		background-size: cover;
	}
}
@media(max-width:320px){
	.nav-links .navbar-inverse .navbar-brand h1 {
		font-size: 21px;
	}
	.navbar-toggle {
		margin: 14px 0 0 0;
	}
	.banner-text-agileinfo h2 {
		font-size: 24px;
	}
	.about-agileits h3, .services-w3 h3, .clients h3, .team h3, .contact-wthree h3, .gallery h3, .skills-w3ls h3 {
		font-size: 23px;
	}
	.about-left {
		background: url(../images/about.jpg) no-repeat 0px 0px;
		background-size: cover;
	}
	div#demo-pie-3, div#demo-pie-1 {
		margin-right: 1em;
	}
	.gallery-grids {
		width: 100%;
		float: left;
	}
	.agile_team_grid {
		width: 75%;
	}
	.agile_team_grid_main .p-mask {
		padding: 5em 0;
	}
	.about-right h4 {
		font-size: 17px;
	}
	.about-right p {
		line-height: 25px;
	}
	p.sec-p {
		margin-top: 13px;
	}
	label.line {
		width: 14%;
	}
	.banner-agile {
		padding-top: 34px;
	}
	.nav-links .navbar-nav>li>a {
		padding: 16px 16px;
	}
}

.center {
	margin: 0 auto;
	width: 600px;
}

ul > ul {
	margin-left: 2.5em;
}
dd > ul {
	margin-left: 2.5em;
}

.centera {
	margin: 0 auto;
	width: 200px;
}

.centerad {
	margin: 0 auto;
	width: 290px;
}
.centers {
	margin: 0 auto;
	width: 400px;
}

.centerv {
	margin: 0 auto;
	width: 650px;
}
